@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  color: transparent !important;
  transition: color 0.5s ease-in-out;
}

.latest-swipper .swiper-button-prev,
.latest-swipper .swiper-button-next {
  color: #1c1c1c !important;
}

.swipper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  color: #1c1c1c !important;
}

.swiper-pagination-bullet {
  background: red !important;
  opacity: 100 !important;
  height: 10px !important;
  width: 10px !important;
}

.swiper-pagination-bullet-active {
    background: transparent !important;
    border: 1px solid red !important;
}

* {
  font-family: "Roboto";
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Forum";
  font-weight: 900;
}

li * {
  font-family: "Forum";
  font-weight: 700;
  font-size: 1.1rem;
}

.rounded-s-\[0px\!important\] {
  border-start-end-radius: 0px!important  ;
}

.collapse-arrow [type="checkbox"] + .collapse-title::after {
  left: 0; /* Move arrow to the left side */
  right: auto; /* Remove default right alignment */
  margin-left: 0.5rem; /* Adjust spacing if needed */
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
